* {
    box-sizing: border-box;
  }




#myUL {
height: 250px;
}

li {
  justify-content: space-evenly !important;
}

ul li {
    cursor: pointer;
    position: relative;    
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 10px;
    justify-content: space-between;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
ul li:hover {
    background: #ddd;
  }

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    top: 10px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
.close{
  position: absolute;
  right: 0;
  top: 0;
}
  
.close:hover{
  background-color: #f44336;
  color: white;
}

li input[type = "checkbox"]:checked ~ p  {
  text-decoration: line-through;
}
  
input{
  margin: 0;
  border-radius: 10px; 
  padding: 10px;
  float: left;
  font-size: 16px;
  width: 75%;
}

.addBtn:hover{
  background-color: #bbb;
}

.sortBtn{
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
  
.sortBtn:hover{
  background-color: #bbb;
}